<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="css/registration.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div  id="registration-form" class="modal-container" >
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <h1>регситрация пользователей</h1>
        <div>
            <input th:field="*{username}" type="text" placeholder="Имя пользователя"/>
        </div>
        <div>
            <input th:field="*{password}" type="text" placeholder="Пароль"/>
        </div>
        <div>
            <input th:field="*{confirmPassword}" type="text" placeholder="Повторный пароль"/>
        </div>
        <div>
            <select th:field="*{roleByRoleIdRole}">
                <option th:each="role : ${roleList}" th:value="${role.nameRole}" th:text="${role.nameRole}"></option>
            </select>
        </div>
        <div>
            <button type="submit">Зарегестрировать</button>
        </div>
    </form>
    <tbody>
        <tr th:each="user : ${userList}">
            <div>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.getRoleByRoleIdRole().nameRole}"></td>
            </div>
        </tr>
    </tbody>
</div>
</body>

</html>