<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form th:action="@{/home}" method="post">
        <h1>регситрация пользователей</h1>
        <input th:text="*{user.username}" type="text" placeholder="Имя пользователя"/>
        <input th:text="${user.password}" type="text" placeholder="Пароль"/>
        <input th:text="${user.confirmPassword}" type="text" placeholder="Повторный пароль"/>
        <input type="button" value="Зарегестрировать"/>
    </form>
    <tr th:each="user : ${userList}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.getRoleByRoleIdRole().nameRole}"></td>
    </tr>
</body>
</html>