<div class="container row">
    <div class="title col-12">
        <h1>Регистрация пользовательского счета</h1>
        <hr>
    </div>
    <form class="form-horizontal col-sm-4 " name="userForm">

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_account" name="account" ng-model="account.number"
                       placeholder="Номер счета" required="required" ng-pattern=""/>
                <span class="hasnt-error" ng-show="userForm.surname.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.surname.$invalid && !userForm.surname.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание фамилии</span>
            </div>
        </div>

        <div class="form-group ">
            <div class="controls">
                <button type="button" class="btn btn-warning" ng-disabled="userForm.$invalid"
                        ng-click="addUserAccount(account)">Добавить счет</button>
            </div>
        </div>
    </form>
    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Фамилия
                </th>
                <th>Имя
                </th>
                <th>Отчество
                </th>
                <th>Номер паспорта
                </th>
                <th>Логин
                </th>
                <th>Блокировка
                </th>
                <th>Действие
                </th>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    {{user.surName}}
                </td>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.secondName}}
                </td>
                <td>
                    {{user.pasportNumber}}
                </td>
                <td>
                    {{user.userByUserId.username}}
                </td>
                <td>
                    {{user.userByUserId.isBlocked}}
                </td>
                <td>
                    <input type="button" value="Добавить счет" class="update-button btn btn-warning" ng-click="setUser(user.userByUserId.id)"/>
                </td>
            </tr>
        </table>
    </div>
</div>