<div class="container row">
    <div class="title col-12">
        <h1>Регистрация пользовательского счета</h1>
        <hr>
    </div>
    <input class="form-control col-sm-4" ng-model="userSelect" placeholder="Поиск пользователя по фамилии" type="text">
    <div class="container row table-cont">
        <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
            <strong>Ошибка! </strong> {{errorMessage}}
        </div>
        <div style="margin-top: 10px" class="alert alert-success" ng-show="success">
            <strong>Выполнено! </strong> {{successMessage}}
        </div>
        <table border="1" class="table  row">
            <tr>
                <th>Фамилия
                </th>
                <th>Имя
                </th>
                <th>Отчество
                </th>
                <th>Номер паспорта
                </th>
                <th>Блокировка
                </th>
                <th>Действие
                </th>
            </tr>
            <tr ng-repeat="user in users | filter:{surName:userSelect}">
                <td>
                    {{user.surName}}
                </td>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.secondName}}
                </td>
                <td>
                    {{user.pasportNumber}}
                </td>
                <td>
                    {{user.userByUserId.isBlocked}}
                </td>
                <td>
                    <input id="add-account" type="button" value="Добавить счет" class="update-button btn btn-warning"
                           ng-click="setUser(user.userByUserId.id)"/>
                    <!--<script>
                        document.getElementById("add-account").onclick=function (e) {
                            document.getElementsByClassName("add-account")[0].classList.add("open");
                        }
                        document.getElementById("update").onclick=function (e) {
                            document.getElementsByClassName("add-account")[0].classList.remove("open");
                        }
                    </script>-->
                </td>
            </tr>
        </table>
    </div>
    <form class="form-horizontal col-sm-4 add-account" ng-show="formVisible" name="userForm">

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_account" name="account" ng-model="account.number"
                       placeholder="Номер счета" required="required" ng-pattern="/^[0-9]{9}$/"/>
                <span class="hasnt-error" ng-show="userForm.account.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.account.$invalid && !userForm.account.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 номер счета должен состоять из 9 цифр</span>
            </div>
        </div>

        <div class="form-group ">
            <div class="controls">
                <button id="update" type="button" class="btn btn-warning" ng-disabled="userForm.$invalid"
                        ng-click="addUserAccount(account);closed()">Добавить счет</button>
            </div>
        </div>
    </form>
</div>