<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en" ng-app="TaitonBankApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TaitonBank</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="resources/templates/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="resources/templates/home/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="resources/templates/home/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="resources/templates/home/dist/css/main.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="resources/templates/home/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="resources/templates/home/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Taiton Bank</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#/user"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <form th:action="@{/logout}" method="post">
                            <li><i class="fa fa-sign-out fa-fw"></i><button>Выйти</button></a></li>
                        </form>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href="#/user"><i class="fa fa-user fa-fw"></i> Главная</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i>Платежи<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/phone"><i class="fa fa-mobile" aria-hidden="true"></i>Услуги связи</a>
                                </li>
                                <li>
                                    <a href="morris.html"><i class="fa fa-home" aria-hidden="true"></i>Коммунальные услуги</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href="#/user"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href=""><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_client')">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_administration')">
                            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Управление пользователями<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/registration/userInfo"><i class="fa fa-user-plus" aria-hidden="true"></i>Добавление пользователя</a>
                                </li>
                                <li>
                                    <a href="#/editing/userInfo"><i class="fa fa-pencil-square" aria-hidden="true"></i>Редактирование пользователя</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_administration')">
                            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Управление счетами пользователей<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/registration/userAccount"><i class="fa fa-user-plus" aria-hidden="true"></i>Добавление счета пользователя</a>
                                </li>
                                <li>
                                    <a href="#/editing/userAccount"><i class="fa fa-pencil-square" aria-hidden="true"></i>Редактирование счета пользователя</a>
                                </li>
                                <li>
                                    <a href="#/editing/addUserBalance"><i class="fa fa-pencil-square" aria-hidden="true"></i>Добавить средства на счет пользователя</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_administration')">
                            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Управление персоналом<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/registration/admin"><i class="fa fa-user-plus" aria-hidden="true"></i>Добавление персонала</a>
                                </li>
                                <li>
                                    <a href="#/editing/edit_personal"><i class="fa fa-pencil-square" aria-hidden="true"></i>Редактирование персонала</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_administration')">
                            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Управление организациями и сервисами<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/organization/registration"><i class="fa fa-user-plus" aria-hidden="true"></i>Управление организациями</a>
                                </li>
                                <li>
                                    <a href="#/service/registration"><i class="fa fa-pencil-square" aria-hidden="true"></i>Добавление сервисов</a>
                                </li>
                                <li>
                                    <a href="#/service/editing"><i class="fa fa-pencil-square" aria-hidden="true"></i>Редактирование сервисов</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li sec:authorize="hasRole('ROLE_administration')">
                            <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Работа с банковскими картами<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/card/registration"><i class="fa fa-user-plus" aria-hidden="true"></i>Регистрация карт</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" style="min-height: 506px;">
                <ng-view></ng-view>
        </div>

    </div>


    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="resources/templates/home/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/templates/home/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="resources/templates/home/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="resources/templates/home/vendor/raphael/raphael.min.js"></script>
    <script src="resources/templates/home/vendor/morrisjs/morris.min.js"></script>
    <script src="resources/templates/home/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="resources/templates/home/dist/js/sb-admin-2.js"></script>


    <script src="resources/js/lib/angular/angular.js"></script>
    <script src="resources/templates/home/js/services.js"></script>
    <script src="resources/templates/home/js/controllers/UserController.js"></script>
    <script src="resources/templates/home/js/filters.js"></script>
    <script src="resources/templates/home/js/directives.js"></script>
    <script src="resources/templates/home/js/app.js"></script>
    <script src="resources/templates/registration/js/controllers/UserRegistrationController.js"></script>
    <script src="resources/templates/registration/js/controllers/UserAccountRegistrationController.js"></script>
    <script src="resources/templates/editing/js/controllers/UserEditingController.js"></script>
    <script src="resources/templates/editing/js/controllers/UserBalanceEditingController.js"></script>

    <script src="resources/templates/organization/js/controllers/OrganizationRegistrationController.js"></script>

    <script src="resources/templates/service/js/controllers/ServiceRegistrationController.js"></script>

    <script src="resources/templates/card/js/controllers/CardRegistrationController.js"></script>


</body>

</html>
