<div class="container row">
    <div class="title col-12">
        <h1>Регистрация организаций</h1>
        <hr>
        <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
            <strong>Ошибка! </strong> {{errorMessage}}
        </div>
        <div style="margin-top: 10px" class="alert alert-success" ng-show="success">
            <strong>Выполнено! </strong> {{successMessage}}
        </div>
    </div>
    <input class="form-control col-sm-4" ng-model="orgSearch" placeholder="Поиск пользователя по названию организации" type="text">
    <div class="container row table-cont">
        <table border="1" class="table  row">
            <tr>
                <th>Номер
                </th>
                <th>Название организации
                </th>

            </tr>
            <tr ng-repeat="org in organizations | filter:{name:orgSearch}">
                <td>
                    {{org.id}}
                </td>
                <td>
                    {{org.name}}
                </td>

                <!--<script>
                    document.getElementById("add-update").onclick=function (e) {
                        document.getElementsByClassName("add-account")[0].classList.add("open");
                    }
                    document.getElementById("addOrg").onclick=function (e) {
                        document.getElementsByClassName("add-account")[0].classList.remove("open");
                    }
                </script>-->
            </tr>
        </table>
    </div>
    <form class="form-horizontal col-sm-4 add-account" name="userForm">

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_account" name="accountName" ng-model="organization.name"
                       placeholder="Название организации" required="required" ng-pattern="/^([A-ZА-ЯЁ][a-zа-яё]+(-[a-zа-яё]+){0,})( [[A-ZА-ЯЁ][a-zа-яё]+(-[a-zа-яё]+){0,}){0,2}$/"/>
                <span class="hasnt-error" ng-show="userForm.accountName.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.accountName.$invalid && !userForm.accountName.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание организации</span>
            </div>
        </div>

        <div class="form-group ">
            <div class="controls">
                <button id="addOrg" type="button" class="btn btn-warning" ng-disabled="userForm.$invalid || isLoading"
                        ng-click="addOrganization(organization)">Добавить организацию</button>
            </div>
        </div>
    </form>

</div>
