<!DOCTYPE html>
<html lang="en" ng-app="AppUser">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div ng-controller="UserController">
    <table>
        <div ng-repeat="user in users">
            <div>{{user.username}}</div>
            <div>{{user.password}}</div>
            <div>{{user.isBlocked}}</div>
            <div>{{user.roleByRoleIdRole.nameRole}}</div>
        </div>
    </table>
</div>

<script src="resources/js/lib/angular/angular.js"></script>
<script src="resources/js/controllers/UserController.js"></script>
<script src="resources/js/services.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/directives.js"></script>
<script src="resources/js/app.js"></script>
</body>
</html>