<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <div class="title col-12">
    <h1>Редактирование пользовательского профиля</h1>
    <hr>
</div>
<div class="container">
    <div class="form-group col-sm-4" style="display: block">
        <label class="control-label">Поиск пользователей</label>
        <div class="">
            <input type="text" class="form-control" placeholder="Имя">
        </div>
    </div>
</div>
    <div class="container pays-history">
        <form class="form-horizontal col-sm-4 " role="form">
            <table border="1">
                <tbody>
                <tr ng-repeat="user in users">
                    <td>Username: {{user.username}}</td>
                    <td><button type="submit" style="background: transparent; border: none; padding-right: -10px !important;font-size: 18px;"><i class="fa fa-pencil-square select" aria-hidden="true"></i></button></td>
                    <td><button type="submit" style="background: transparent; border: none;padding-right: -10px !important; font-size: 18px;"><i class="fa fa-times select" aria-hidden="true"></i></button></td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label class="control-label ">Найти пользователя</label>
                <select class="form-control">
                    <option>Velcom</option>
                    <option>MTC</option>
                    <option>Life:)</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Сменить имя</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="Имя">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Сменить пароль</label>
                <div class="">
                    <input type="password" class="form-control" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox"> Блокировать пользователя
                </label>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-warning">Изменить</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </form>
    </div>


</div>