<div class="container row">
    <div class="title col-12">
        <h1>Изменение баланса пользовательского счета</h1>
        <hr>
        <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
            <strong>Ошибка! </strong> {{errorMessage}}
        </div>
        <div style="margin-top: 10px" class="alert alert-success" ng-show="success">
            <strong>Выполнено! </strong> {{successMessage}}
        </div>
    </div>
    <form class="form-horizontal col-sm-4 " name="userForm">

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="accountNumberr" name="accountNumber" ng-model="account.accountNumber"
                       placeholder="Номер" ng-pattern="/^[0-9]{9}$/" required="required" />
                <span class="hasnt-error" ><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="hasnt-error" ng-show="userForm.accountNumber.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.accountNumber.$invalid && !userForm.accountNumber.$pristine &&userForm.accountNumber.$dirty"><i class="fa fa-times" aria-hidden="true"></i>
только числовые значения (9 цифр)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="accountBalance" ng-pattern="/^-?((([1-9]\d+)|([1-9]))(([.,]\d{1,2})?))$|^-?0[,.]((\d[1-9])|([1-9]\d))$/" name="accountBalance" ng-model="account.accountBalance"
                       placeholder="93.20" required="required"/><span class="cost-info">BYN</span>
                <span class="hasnt-error" ><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="hasnt-error" ng-show="userForm.accountBalance.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span style="position:relative; padding-bottom: 10px" class="has-error" ng-show="userForm.accountBalance.$invalid && !userForm.accountBalance.$pristine && userForm.accountBalance.$dirty"><i class="fa fa-times" aria-hidden="true"></i>
неверный формат суммы (цифры и .)</span>
            </div>
        </div>

        <div class="form-group ">
            <div class="controls">
                <button type="button" class="btn btn-warning" ng-disabled="userForm.$invalid"
                        ng-click="editUserBalance(account)">Изменить баланс пользователя</button>

            </div>
        </div>
    </form>
</div>