<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <h1>Оплата мобильной связи</h1>
    <hr>


    <div class="container pays-history">
        <form class="form-horizontal col-sm-4 " role="form">
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Номер телефона</label>
                <div class="">
                    <input type="text" name="phoneNumber" class="form-control" id="inputEmail3" placeholder="+375 29 4363412" ng-pattern="/^([+]?[0-9\s-\(\)]{3,25})*$/i/">
                    <span class="hasnt-error" ng-show="userForm.phoneNumber.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="has-error" ng-show="userForm.phoneNumber.$invalid && !userForm.phoneNumber.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание номера телефона (например: +375 29 8344323)</span>
                </div>
            </div>
            <div class="form-group">
                <label for="mobileOperator" class="control-label">Сотовый оператор</label>
                <select class="form-control" id="mobileOperator">
                    <option>Velcom</option>
                    <option>MTC</option>
                    <option>Life:)</option>
                </select>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-warning">Оплатить</button>
                    <span>{{Error}}</span>
                </div>
            </div>
        </form>
    </div>


</div>