<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <script type="text/javascript" src="resources/js/lib/angular/angular.js"></script>
    <!--<script type="text/javascript" src="resources/js/myApp.js"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>1+3={{1+3}}</p>

        <button ng-click="count = count + 1" ng-init="count=0">OK</button>
        <p>{{count}}</p>
    </div>

    <div ng-controller="myCtrl">
        {{ firstName + " " + lastName }}
    </div>

</body>
</html>

