<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <h1>Оплата услуг</h1>
    <hr>

    <div class="container container-table row">
        <table border="1" class="table row">
            <tr>
                <th>Фамилия
                </th>
                <th>Имя
                </th>
                <th>Отчество
                </th>
                <th>Номер паспорта
                </th>
                <th>Блокировка
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="us in users | filter:{surName:cardSelect}">
                <td>
                    {{us.surName}}
                </td>
                <td>
                    {{us.firstName}}
                </td>
                <td>
                    {{us.secondName}}
                </td>
                <td>
                    {{us.pasportNumber}}
                </td>
                <td>
                    {{us.userByUserId.isBlocked}}
                </td>
                <td>
                    <input  type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setUser(us)"/>
                </td>
            </tr>
        </table>

    </div>

    <div class="control-group">
        <div class="controls" >
            <select ng-click="setCategory(service.categoryIdCategory)" ng-model="service.categoryIdCategory"
                    ng-options="category as category.categoryName for category in categoryies">
            </select>
        </div>
    </div>

    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Номер
                </th>
                <th>Название организации
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="org in organizations | filter:{name:orgSearch}">
                <td>
                    {{org.id}}
                </td>
                <td>
                    {{org.name}}
                </td>
                <td>
                    <input id="add-update" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setOrg(org)"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="container pays-history">
        <form class="form-horizontal col-sm-4 " role="form">



            <div class="form-group">
                <label for="inputEmail3" class="control-label">Номер телефона</label>
                <div class="">
                    <input type="text" name="phoneNumber" class="form-control" id="inputEmail3" placeholder="+375 29 4363412" ng-pattern="/^([+]?[0-9\s-\(\)]{3,25})*$/i/" ng-bind="payment.info">
                    <span class="hasnt-error" ng-show="userForm.phoneNumber.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="has-error" ng-show="userForm.phoneNumber.$invalid && !userForm.phoneNumber.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание номера телефона (например: +375 29 8344323)</span>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-warning"ng-click="addPayment()">Оплатить</button>
                    <span>{{setError}}</span>
                </div>
            </div>
        </form>
    </div>


</div>