<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <h1>Оплата услуг</h1>
    <hr>
    <div style="margin-top: 10px; margin-left: 0px !important;" class="alert alert-danger" ng-show="error">
        <strong>Ошибка! </strong> {{errorMessage}}
    </div>
    <div style="margin-top: 10px; margin-left: 0px !important;" class="alert alert-success" ng-show="success">
        <strong>Выполнено! </strong> {{successMessage}}
    </div>
    <div class="loading" ng-show="isLoading">
        <img src="resources/content/default.gif">
    </div>
    <div class="control-group">

        <div class="container row table-cont">
            <h4>Выбирете карту для оплаты:</h4>
            <table border="1" class="table row">
                <tr>
                    <th>Номер карты
                    </th>
                    <th>Баланс карты
                    </th>
                    <th>Номер счета
                    </th>
                    <th>Срок до
                    </th>
                    <th>Выбрать
                    </th>
                </tr>
                <tr ng-repeat="card in cards | date:'medium'">
                    <td>
                        {{card.cardNumber}}
                    </td>
                    <td>
                        {{card.balance}} руб.
                    </td>
                    <td>
                        {{card.accountNumber}}
                    </td>
                    <td>
                        {{card.dateOfExpiry}}
                    </td>
                    <td>
                        <input id="add-update2" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setCard(card)"/>
                    </td>
                </tr>
            </table>
        </div>


        <div class="controls" style="margin: 25px auto" ng-show="formVisibleSelect">
            <h4>Виды услуг:</h4>
            <select ng-change="setCategory(paymentInfo.category)"
                    ng-model="paymentInfo.category"
                    ng-options="category as category.categoryName for category in categoryies">
            </select>
        </div>
    </div>
    <div class="container row table-cont" ng-show="formVisible" style="padding-left: -15px !important;">
        <h4>Выбирете организацию для оплаты:</h4>
        <table border="1" class="table row">
            <tr>
                <th>Номер
                </th>
                <th>Название организации
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="org in organizations">
                <td>
                    {{org.id}}
                </td>
                <td>
                    {{org.name}}
                </td>
                <td>
                    <input id="add-update" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setOrg(org)"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="container pays-history">
        <form class="form-horizontal col-sm-4 " role="form" name="userForm" style="padding: 0 !important;" ng-show="Fieldshow">

                <div class="form-group" data-title="Например номер телефона 298945859">
                <label for="inputEmail3" class="control-label">Введите платженые данные<br> (например номер телефона 298945859)</label>
                <div class="controls">
                    <input required type="text" name="paymentInfo" class="form-control " id="inputEmail3" placeholder="Платежные данные"
                           ng-model="paymentInfo.payment.info" ng-pattern="/^[0-9]{9}$/">
                    <span class="hasnt-error" ng-show="userForm.paymentInfo.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span style="position:relative; padding-bottom: 10px" class="has-error "
                          ng-show="userForm.paymentInfo.$invalid && !userForm.paymentInfo.$pristine "><i class="fa fa-times" aria-hidden="true"></i>
неверный формат платежных данных <br>(например номер телефона 298945859)</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Рубли</label>
                <div class="controls">
                    <input required type="text" name="accountBalance" class="form-control" id="inputEmail4" ng-model="paymentInfo.payment.amount"
                           placeholder="Рубли" ng-pattern="/^((([1-9]\d{0,5})|([1-9]))(([.]\d{1,2})?))$|^-?0[.]((\d[1-9])|([1-9]\d?))$/"><span class="cost-info">BYN</span>
                    <span class="hasnt-error" ng-show="userForm.accountBalance.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span style="position:relative; padding-bottom: 10px" class="has-error" ng-show="userForm.accountBalance.$invalid && !userForm.accountBalance.$pristine "><i class="fa fa-times" aria-hidden="true"></i>
неверный формат суммы (цифры и . максимум 6 цифр до точки)</span>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-warning" ng-disabled="userForm.$invalid" ng-click="addPayment(payment);closed();">Оплатить</button>
                </div>
            </div>
        </form>

    </div>


</div>