<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <h1>Оплата услуг</h1>
    <hr>

    <div class="control-group">
        <div class="controls" >
            <select ng-change="setCategory(service.categoryIdCategory)" ng-model="service.categoryIdCategory"
                    ng-options="category as category.categoryName for category in categoryies">
            </select>
        </div>
    </div>
    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Номер
                </th>
                <th>Название организации
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="org in organizations">
                <td>
                    {{org.id}}
                </td>
                <td>
                    {{org.name}}
                </td>
                <td>
                    <input id="add-update" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setOrg(org)"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Номер карты
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="card in cards">
                <td>
                    {{card.cardNumber}}
                </td>
                <td>
                    <input id="add-update2" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setCard(card)"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="container pays-history">
        <form class="form-horizontal col-sm-4 " role="form" name="userForm">

            <div class="form-group">
                <label for="inputEmail3" class="control-label">Введите платженые данные</label>
                <div class="">
                    <input type="text" name="phoneNumber" class="form-control" id="inputEmail3" placeholder="Платежные данные" ng-bind="payment.info">
                </div>
            </div>
            <!--<div class="form-group">
                <label for="inputEmail3" class="control-label">Рубли</label>
                <div class="">
                    <input type="text" name="accountBalance"  class="form-control" id="inputEmail4" ng-pattern="/^[-+]?[0-9]*[.,]?[0-9]+(?:[eE][-+]?[0-9]+)?$/" placeholder="Рубли" ng-bind="payment.Amount"><span class="cost-info" style="top:135px;">BYN</span>
                    <span class="hasnt-error" ng-show="userForm.accountBalance.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span style="position:relative; padding-bottom: 10px" class="has-error" ng-show="userForm.accountBalance.$invalid && !userForm.accountBalance.$pristine && userForm.accountBalance.$dirty"><i class="fa fa-times" aria-hidden="true"></i>
неверный формат суммы (цифры и . или ,)</span>
                </div>
            </div>-->
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Рубли</label>
                <div class="controls">
                    <input type="text" class="form-control" id="accountBalance" ng-pattern="/^[-+]?[0-9]*[.,]?[0-9]+(?:[eE][-+]?[0-9]+)?$/" name="accountBalance" ng-model="payment.Amount"
                           placeholder="Сумма (BYN)" required="required"/><span class="cost-info">BYN</span>
                    <span class="hasnt-error" ><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="hasnt-error" ng-show="userForm.accountBalance.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span style="position:relative; padding-bottom: 10px" class="has-error" ng-show="userForm.accountBalance.$invalid && !userForm.accountBalance.$pristine && userForm.accountBalance.$dirty"><i class="fa fa-times" aria-hidden="true"></i>
неверный формат суммы (цифры и . или ,)</span>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-warning"ng-click="addPayment(payment)">Оплатить</button>
                    <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
                        <strong>Ошибка! </strong> {{errorMessage}}
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>