<div class="container row">
    <div class="title col-12">
        <h1>Регистрация сервисов</h1>
        <hr>
        <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
            <strong>Ошибка! </strong> {{errorMessage}}
        </div>
        <div style="margin-top: 10px" class="alert alert-success" ng-show="success">
            <strong>Выполнено! </strong> {{successMessage}}
        </div>
        <div class="loading" ng-show="isLoading">
            <img src="resources/content/default.gif">
        </div>
    </div>

    <input class="form-control col-sm-4" ng-model="searchText" placeholder="Поиск организации" type="text">
    <div class="container row table-cont" style="margin-bottom: 20px">
        <table border="1" class="table row">
            <tr>
                <th>Номер
                </th>
                <th>Название организации
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="org in organizations | filter:searchText">
                <td>
                    {{org.id}}
                </td>
                <td>
                    {{org.name}}
                </td>
                <td>
                    <input id="add-update" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setOrg(org)"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="controls" ng-show="Fieldshow">
        <h4>Выберите категорию</h4>
        <select class="form-control" ng-change="setCategory(category)" ng-model="category"
                ng-options="category as category.categoryName for category in categoryies">
        </select>
    </div>
    <form class="form-horizontal col-sm-4 add-account" name="userForm" ng-show="formVisible">
        <div class="control-group">
        </div>
        <div class="form-group">
            <div class="controls">
                <span>Регистрация счета для нового сервиса (9 цифр)</span>
                <input type="text" class="form-control" id="user_service_account" name="account" ng-model="service.account" ng-pattern="/^[0-9]{9}$/"
                       placeholder="Номер счета" required="required" />
                <span class="hasnt-error" ng-show="userForm.account.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.account.$invalid && !userForm.account.$pristine"><i class="fa fa-times" aria-hidden="true"></i>Неверный номер счета</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <button id="addServ" type="button" class="btn btn-warning" ng-disabled="userForm.$invalid || isLoading"
                        ng-click="addService(service); closed()">Добавить услугу</button>
            </div>
        </div>
    </form>

</div>
