<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <h1 th:inline="text">Привет, [[${#httpServletRequest.userPrincipal.name}]]</h1>
        <button>Выйти из кабинета</button>
    </form>
    <div></div>
    <div ng-controller="rtController">
        <ul>
            <li ng-repeat="phone in phones">
                <b>{{phone.name}}</b>
                <p>Цена: {{phone.price}} $</p>
                <p>Производитель: {{phone.company.name}}</p>
            </li>
        </ul>
    </div>

<script src="js/libs/angular.min.js"></script>
<script src="js/controllers/rtController.js"></script>
</body>
</html>