<div class="container row">
    <div class="title col-12">
        <h1>Регистрация пользовательскогой карты</h1>
        <hr>
    </div>
    <input class="form-control col-sm-4" ng-model="cardSelect" placeholder="Поиск пользователя по фамилии" type="text">
    <div class="container container-table row">
        <table border="1" class="table row">
            <tr>
                <th>Фамилия
                </th>
                <th>Имя
                </th>
                <th>Отчество
                </th>
                <th>Номер паспорта
                </th>
                <th>Блокировка
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="us in users | filter:{surName:cardSelect}">
                <td>
                    {{us.surName}}
                </td>
                <td>
                    {{us.firstName}}
                </td>
                <td>
                    {{us.secondName}}
                </td>
                <td>
                    {{us.pasportNumber}}
                </td>
                <td>
                    {{us.userByUserId.isBlocked}}
                </td>
                <td>
                    <input  type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setUser(us)"/>
                </td>
            </tr>
        </table>

    </div>

    <div class="container container-table row">
        <table border="1" class="table row">
            <tr>
                <th>Номер счета
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="account in accounts">
                <td>
                    {{account.accountNumber}}
                </td>
                <td>
                    <input id="addCard" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="setAccount(account)"/>
                </td>
                <script>
                    document.getElementById("addСardClose").onclick=function () {
                        document.getElementsByClassName("add-account")[0].classList.remove("open");
                    }
                    document.getElementById("addCard").onclick=function () {
                        document.getElementsByClassName("add-account")[0].classList.add("open");
                    }
                </script>
            </tr>
        </table>
        <form class="form-horizontal col-sm-4 add-account" name="userForm">

            <div class="form-group">
                <div class="controls">
                    <input type="text" class="form-control" id="user_surName" name="cardNamber" ng-model="card.cardNumber"
                           placeholder="Номер карты" required="required" ng-pattern="/^[0-9]{9}$/"/>
                    <span class="hasnt-error" ng-show="userForm.cardNamber.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="has-error" ng-show="userForm.cardNamber.$invalid && !userForm.cardNamber.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание номера карты (9 цифр)</span>
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <input type="date" class="form-control" id="user_firstName" name="cardData" ng-model="card.dateOfExpiry"
                           placeholder="Имя" required="required"/>
                    <span class="hasnt-error" ng-show="userForm.cardData.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="has-error" ng-show="userForm.cardData.$invalid && !userForm.cardData.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Некорректная дата</span>
                </div>
            </div>


            <div class="form-group ">
                <div class="controls">
                    <button id="addСardClose" type="button" class="btn btn-warning" ng-disabled="userForm.$invalid"
                            ng-click="addCard(card)">Добавить карту</button>
                </div>
            </div>
        </form>
    </div>

</div>

