<div class="container">
    <div class="title col-12">
        <h1>Редактирование персонала</h1>
        <hr>
        <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
            <strong>Ошибка! </strong> {{errorMessage}}
        </div>
        <div style="margin-top: 10px" class="alert alert-success" ng-show="success">
            <strong>Выполнено! </strong> {{successMessage}}
        </div>
    </div>
    <div ng-show="isLoading">
        <img src="resources/content/default.gif">
    </div>

    <input class="form-control col-sm-4" ng-model="userSelect" placeholder="Поиск пользователя по фамилии" type="text">
    <div class="container table-cont row table-cont">

        <table border="1" class="table row">
            <tr>
                <th>Фамилия
                </th>
                <th>Имя
                </th>
                <th>Отчество
                </th>
                <th>Номер паспорта
                </th>
                <!--<th>Блокировка
                </th>-->
                <th>Редактировать
                </th>
            </tr>
            <tr ng-repeat="user in users | filter:{surName:userSelect}">
                <td>
                    {{user.surName}}
                </td>
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.secondName}}
                </td>
                <td>
                    {{user.pasportNumber}}
                </td>
                <!--<td>
                    {{user.userByUserId.isBlocked}}
                </td>-->
                <td>
                    <input type="button" value="Редактировать" class="update-button btn btn-warning" ng-click="edit(user)"/>
                </td>
            </tr>
        </table>
    </div>
    <form class="form-horizontal col-sm-4 " name="userForm" ng-show="formVisible">

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_surName" ng-model="user.surName" ng-pattern="/^[А-ЯёЁ]{1}[а-я]{1,20}$/"
                       placeholder="Фамилия" name="surname" required="required" />
                <span class="hasnt-error" ng-show="userForm.surname.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.surname.$invalid && !userForm.surname.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание фамилии (Русские буквы с заглавной)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_firstName" ng-model="user.firstName" ng-pattern="/^[А-ЯёЁ]{1}[а-я]{1,20}$/"
                       placeholder="Имя" name="user_name" required="required" />
                <span class="hasnt-error" ng-show="userForm.user_name.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.user_name.$invalid && !userForm.user_name.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание имени (Русские буквы с заглавной)</span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_secondName" ng-model="user.secondName" ng-pattern="/^[А-ЯёЁ]{1}[а-я]{1,20}$/"
                       placeholder="Отчество" name="fatherName" required="required" />
                <span class="hasnt-error" ng-show="userForm.fatherName.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.fatherName.$invalid && !userForm.fatherName.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание отчества (Русские буквы с заглавной)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_passportNumber" ng-model="user.pasportNumber"
                       ng-pattern="/[A-Z]{2}\d{7}$/"
                       placeholder="Номер пасспорта" name="passport" required="required" />
                <span class="hasnt-error" ng-show="userForm.passport.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.passport.$invalid && !userForm.passport.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверный номер паспорта (2 латинских прописных буквы "7 цифр после)</span>
            </div>
        </div>
        <!--<div class="form-group">
            <div class="controls check">
                <input id="confirm_Password" class="checked-subscribe form-control" type="checkbox" ng-model="user.userByUserId.isBlocked" data-inventory-field="subscription" value="on">
                <label for="confirm_Password"><span class="text-blocked">Заблокировать</span></label>
            </div>
        </div>-->
        <div class="form-group">
            <div class="controls">
                <button type="button" class="btn btn-warning" ng-disabled="userForm.$invalid" ng-click="editUser(user);closed()">Изменить персонал</button>
            </div>

        </div>
    </form>
</div>