<div class="container">
    <div class="title col-12">
        <h1>Регистрация персонала</h1>
        <hr>
        <div style="margin-top: 10px" class="alert alert-danger" ng-show="error">
            <strong>Ошибка! </strong> {{errorMessage}}
        </div>
        <div style="margin-top: 10px" class="alert alert-success" ng-show="success">
            <strong>Выполнено! </strong> {{successMessage}}
        </div>
    </div>
    <form class="form-horizontal col-sm-4 " name="userForm">

        <div class="control-group">
            <span>Выберите роль персонала!</span>
            <div class="controls" >
                <select ng-model="user.userByUserId.roleByRoleIdRole"
                        ng-options="role as role.nameRole for role in roles">
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_surName" ng-model="user.surName" ng-pattern="/^[А-ЯёЁ]{1}[а-я]{1,20}$/"
                       placeholder="Фамилия" name="surname" required="required" />
                <span class="hasnt-error" ng-show="userForm.surname.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.surname.$invalid && !userForm.surname.$pristine && !userForm.surname.$touched"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание фамилии (Русские буквы с заглавной)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_firstName" ng-model="user.firstName" ng-pattern="/^[А-ЯёЁ]{1}[а-я]{1,20}$/"
                       placeholder="Имя" name="user_name" required="required" />
                <span class="hasnt-error" ng-show="userForm.user_name.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.user_name.$invalid && !userForm.user_name.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание имени (Русские буквы с заглавной)</span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_secondName" ng-model="user.secondName" ng-pattern="/^[А-ЯёЁ]{1}[а-я]{1,20}$/"
                       placeholder="Отчество" name="fatherName" required="required" />
                <span class="hasnt-error" ng-show="userForm.fatherName.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.fatherName.$invalid && !userForm.fatherName.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание отчества (Русские буквы с заглавной)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_passportNumber" ng-model="user.pasportNumber"
                       ng-pattern="/[A-Z]{2}\d{7}$/"
                       placeholder="Номер пасспорта" name="passport" required="required" />
                <span class="hasnt-error" ng-show="userForm.passport.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.passport.$invalid && !userForm.passport.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверный номер паспорта (2 латинских прописных буквы "7 цифр после")</span>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" class="form-control" id="user_name" ng-model="user.userByUserId.username" ng-pattern="/^[a-zA-Z0-9]{6,20}$/"
                       placeholder="Логин" required="required" name="user_login" />
                <span class="hasnt-error" ng-show="userForm.user_login.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error" ng-show="userForm.user_login.$invalid && !userForm.user_login.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Неверное написание логина пользователя (Только латинские буквы и цифры мин. 6 )</span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="password" class="form-control" id="user_password" name="password" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" ng-model="user.userByUserId.password"
                       placeholder="Пароль" required="required" min="6" />
                <span class="hasnt-error" ng-show="userForm.password.$valid"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="has-error has-error-password" ng-show="userForm.password.$invalid && !userForm.password.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
 Пароль (Строчные и прописные латинские буквы, цифры, спецсимволы. Минимум 8 символов)</span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="password" class="form-control" id="confirm_Password"
                       compare-to="user.userByUserId.password"
                       ng-model="user.userByUserId.confirmPassword" name="confirmPassword" placeholder="Повторите пароль" pw-check='user_password' required="required" />
                <span class="has-error has-error-password" ng-show="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine"><i class="fa fa-times" aria-hidden="true"></i>
    Пароль не совпадает</span>
                <span class="hasnt-error" ng-show="userForm.password.$valid && !userForm.confirmPassword.$pristine"><i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
           <!-- <div class='msg-block' ng-show='userForm.$error'>
                <span class='msg-error' ng-show='userForm.user_password.$error.pwmatch'>
                Passwords don't match.
                </span>
            </div>-->
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="button" class="btn btn-warning" ng-disabled="userForm.$invalid && isLoading" ng-click="addNewUser(user)">Добавить персонал</button>
            </div>

        </div>
    </form>
</div>