<!DOCTYPE html>
<html lang="en" ng-app="AppRole">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body ng-controller="RoleController">
<div>
    <div ng-repeat="role in roles">
        <div>{{role.nameRole}}</div>
        <div>{{role.id}}</div>
    </div>
    <p>name {{role}}</p>
    <p>{{roles}}</p>
</div>

<script src="resources/js/lib/angular/angular.js"></script>
<script src="resources/js/controllers/RoleController.js"></script>
<script src="resources/js/services.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/directives.js"></script>
<script src="resources/js/app.js"></script>
</body>
</html>