<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />
    <mvc:resources mapping="/js/**" location="/WEB-INF/pages/mainAuthorization/js/" />
    <mvc:resources mapping="/css/**" location="/WEB-INF/pages/mainAuthorization/css/" />
    <mvc:resources mapping="/img/**" location="/WEB-INF/pages/mainAuthorization/img/" />
    <mvc:resources mapping="/libs/**" location="/WEB-INF/pages/mainAuthorization/libs/" />
    <mvc:resources mapping="/WEB-INF/pages/mainAuthorization/**" location="/WEB-INF/pages/mainAuthorization/" />
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>validation</value>
            </list>
        </property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/mainAuthorization/"/>
        <property name="suffix" value=".html"/>
    </bean>


</beans>