<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <h1>Архив платежей</h1>
    <hr>
    <div style="margin-top: 10px; margin-left: 0px !important;" class="alert alert-danger" ng-show="error">
        <strong>Ошибка! </strong> {{errorMessage}}
    </div>
    <div style="margin-top: 10px; margin-left: 0px !important;" class="alert alert-success" ng-show="success">
        <strong>Выполнено! </strong> {{successMessage}}
    </div>
    <div class="loading" ng-show="isLoading">
        <img src="resources/content/default.gif">
    </div>
    <h2>Выберите карту, на которой хотите просмотреть операции</h2>
    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Номер карты
                </th>
                <th>Баланс карты
                </th>
                <th>Номер счета
                </th>
                <th>Действительна до
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="card in cards | date:'medium'">
                <td>
                    {{card.cardNumber}}
                </td>
                <td>
                    {{card.balance}} руб.
                </td>
                <td>
                    {{card.accountNumber}}
                </td>
                <td>
                    {{card.dateOfExpiry}}
                </td>
                <td>
                    <input id="add-update2" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="fetchPaymentList(card)"/>
                </td>
            </tr>
        </table>
    </div>


    <div class="container row table-cont" ng-show="formVisible" style="margin-left: -15px !important; margin-top: 40px;">
        <h2>Операции:</h2>
        <table border="1" class="table row">
            <tr>
                <th>Дата и время операции
                </th>
                <th>Информация
                </th>
                <th>Сумма
                </th>
                <th>Услуга
                </th>
                <th>Организация
                </th>
            </tr>
            <tr ng-repeat="pay in payments">
                <td>
                    {{pay.paymentEntity.date | date:'medium'}}
                </td>
                <td>
                    {{pay.paymentEntity.info}}
                </td>
                <td>
                    {{pay.paymentEntity.amount}} руб.
                </td>
                <td>
                    {{pay.serviceName}}
                </td>
                <td>
                    {{pay.organizationName}}
                </td>
            </tr>
        </table>
        <div class="alert alert-info" ng-show="isPaymentsNull">
            <strong>Внимание!</strong> Список пуст
        </div>
    </div>



</div>