<head>
    <meta charset="utf-8">
</head>
<div class="user-info container">
    <h1>Архив переводов</h1>
    <hr>
    <h2>Выберите карту, на которой хотите просмотреть переводы</h2>
    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Номер карты
                </th>
                <th>Выбрать
                </th>
            </tr>
            <tr ng-repeat="card in cards">
                <td>
                    {{card.cardNumber}}
                </td>
                <td>
                    <input id="add-update2" type="button" value="Выбрать" class="update-button btn btn-warning" ng-click="fetchTransferList(card)"/>
                </td>
            </tr>
        </table>
    </div>

    <h2>Переводы:</h2>
    <div class="container row">
        <table border="1" class="table row">
            <tr>
                <th>Дата
                </th>
                <th>Отправлено
                </th>
                <th>Получено
                </th>
                <th>Сумма
                </th>
            </tr>
            <tr ng-repeat="trans in transfers">
                <td>
                    {{trans.transfer.date | date:'medium'}}
                </td>
                <td>
                    {{trans.cardFrom}}
                </td>
                <td>
                    {{trans.cardTo}}
                </td>
                <td>
                    {{trans.transfer.amount}} руб.
                </td>
            </tr>
        </table>
    </div>



</div>